@import "mocha.css";

* {
    all: unset;
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
}

window.eDP-1.* {
    font-size: 14px
}

window#waybar {
    color: @text;
    background: @crust;
    border-bottom: @lavender .5px solid;
}

.modules-right {
    margin: 8 12;
    padding: 6 0;
}

.modules-center {
    margin: 0 32px;
}

.modules-left {
    margin: 0 12;
}

.module {
    margin: 0 8;
}

#network {
    color: @red;
}

#cpu {
    color: @peach;
}

#memory {
    color: @yellow;
}

#pulseaudio {
    color: @green;
}

#language {
    color: @sapphire;
}

#clock {
    color: @lavender;
} 

#battery {
    color: @text;
}

#tray menu {
    background: @crust;
    border: .5px solid @lavender;
    outline-offset: 0px;
    border-radius: 4px;
    padding: .5px
}

#tray menu menuitem {
    padding: 8px 12px;
}

#tray menu menuitem:hover {
    background-color: @mantle;
    color: @white;
}

tooltip {
    background: @crust;
    border: .5px solid @lavender;
    border-radius: 4px;
}

#workspaces button {
    padding: 0 4px
}

#workspaces button.empty {
    color: @yellow;
}

#workspaces button.active {
    color: @green;
    font-weight: 900;
}

#workspaces button.urgent {
    color: @red;
    font-weight: 700;
}

#battery.warning {
    color: @peach;
}

#battery.critical {
    color: @maroon;
}

#battery.charging {
    color: @green
}

#battery.full {
    color: @sapphire
}

#battery {
    margin-left: 12px
}
