@import "mocha.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
}

window#waybar {
    background: transparent;
    color: @crust;
}

.module {
    padding: 0 12px;
    border-radius: 10px;
}

.modules-center {
    margin: 0 8px
}

#custom-os {
    background: linear-gradient(to bottom right, @lavender, @sapphire);
    padding-left: 14px;
    padding-right: 17px;
}

#workspaces {
    background-image: linear-gradient(to bottom right, @sapphire, @teal);
}

#workspaces button {
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button.active {
    font-weight: 900;
}

#workspaces button.urgent {
    color: red;
    font-weight: 900;
}

#window {
    background: linear-gradient(to bottom right, @teal, @green)
}

window#waybar.empty #window {
    opacity: 0
}

#clock { 
    background: linear-gradient(to bottom, @mauve, @flamingo)
}

#network {
    background: linear-gradient(to bottom left, @peach, @maroon);
}

#cpu {
    background: linear-gradient(to bottom left, @yellow, @peach)
}

#memory {
    background: linear-gradient(to bottom left, @green, @yellow);
}

#pulseaudio {
    background: linear-gradient(to bottom left, @teal, @green);
}

#language {
    background: linear-gradient(to bottom left, @blue, @teal);
}

#battery {
    background: linear-gradient(to bottom left, @lavender, @blue);
}
