@import 'mocha.css';

* {
    all: unset;
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
}

#window,
#tray,
#network,
#cpu,
#memory,
#temperature,
#cava,
#pulseaudio,
#language,
#clock,
#battery {
    background: @crust;
    padding: 4px 12px;
}

#tray,
#network,
#language,
#clock {
    border-radius: 16px;
    margin-right: 12px;
}

#workspaces:first-child {
    margin-left: 0px;
}

#workspaces:last-child {
    margin-right: 0px;
}

#workspaces button {
    margin: 2px;
    padding: 4px 10px;
    background: @crust;
    border-radius: 16px;
}

#workspaces button.urgent {
    background: @maroon;
    color: @crust;
}

#workspaces button.empty {
    background: @peach;
    color: @crust;
}

#workspaces button.active {
    padding: 4px 20px;
    background: @green;
    color: @crust;
}

#window {
    border-radius: 16px;
    margin: 0 24px 0 12px;
}

window#waybar.empty #window {
    background: transparent;
}

#tray menu {
    background: @crust;
    outline-offset: 0px;
    border-radius: 4px;
    padding: 0.5px;
}

#tray menu menuitem {
    padding: 8px 12px;
}

#tray menu menuitem:hover {
    background-color: @mantle;
    color: @white;
}

#cpu {
    border-radius: 16px 0 0 16px;
}

#temperature {
    border-radius: 0 16px 16px 0;
}

#temperature.critical {
    color: @maroon;
}

#cava {
    border-radius: 16px 0 0 16px;
    margin-left: 12px;
}

#pulseaudio {
    border-radius: 0 16px 16px 0;
    margin-right: 12px;
}

tooltip {
    background: @crust;
    border: 0.5px solid @lavender;
    border-radius: 4px;
}

#battery {
    border-radius: 16px;
}

#battery.warning {
    color: @peach;
}

#battery.critical {
    color: @maroon;
}

#battery.charging {
    color: @green;
}

#battery.full {
    color: @sapphire;
}
