[Desktop Entry]
Version=1.0
Type=Application
Name=Windows
Comment=Windows Virtual Machine
Exec=VBoxManage startvm windows
Icon=windows11
Terminal=false
Categories=System;Emulator;
Keywords=windows;virtual machine;vm;
